{% extends 'mainapp/base.html' %}

{% block intro %}
<div class="intro_product">
    <div class="container">
        <div class="location">
            <h4>Москва</h4>
            <div class="contacts">
                <h5>Телефон</h5>
                <p>+7-888-888-8888</p>
            </div>
            <div class="contacts">
                <h5>Email</h5>
                <p>info@homkashop.ru</p>
            </div>
            <div class="contacts">
                <h5>Адрес</h5>
                <p>В пределах МКАД</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}











