{% extends 'mainapp/base.html' %}

{% block intro %}
<div class="intro_product">
    <div class="container">
        <div class="location">

            {% for item in locations %}
            <h4>{{item.city }}</h4>
            <div class="contacts">
                <h5>Телефон</h5>
                <p>{{ item.phone }}</p>
            </div>
            <div class="contacts">
                <h5>Email</h5>
                <p>{{ item.phone }}</p>
            </div>
            <div class="contacts">
                <h5>Адрес</h5>
                <p>{{ item.phone  }}</p>
            </div>
            {% endfor %}

        </div>
    </div>
</div>
{% endblock %}











