<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat+Alternates:wght@400;500&display=swap" rel="stylesheet">
    <title>Shop</title>
    <link rel="stylesheet" href="/static/css/style.css"> </head>

<body>
    <header class="header">
        <div class="container">
            <div class="header_inner">
                <div class="header_logo">hOmka</div>
                <nav class="nav"> <a class="nav_link active" href="/" >домой</a> <a class="nav_link" href="/products/">продукты</a> <a class="nav_link" href="/contact/">контакты</a> </nav>
            </div>
        </div>
    </header>
    <div class="intro">
        <div class="container">
            <div class="intro_inner">
                <h1 class="intro_title">Добро пожаловать в мир моды</h1> 
                <a class="intro_inner_btn" href="#"> Начать покупки </a>
            </div>
        </div>
    </div>
    <div class="footer">
        <p5>&copy; Все права защищены</p5>
    </div>
</body>

</html>