<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat+Alternates:wght@400;500&display=swap" rel="stylesheet">
    <title>Shop</title>
    <link rel="stylesheet" href="/static/css/style.css"> </head>

<body>
    <header class="header">
        <div class="container">
            <div class="header_inner">
                <div class="header_logo">hOmka</div>
                <nav class="nav"> <a class="nav_link " href="/" >домой</a> <a class="nav_link active" href="/products/">продукты</a> <a class="nav_link" href="/contact/">контакты</a> </nav>
            </div>
        </div>
        <div class="header_menu">
            <nav class="nav_menu"> <a class="nav_link_menu " href="#" >Верхняя одежда</a> <a class="nav_link_menu" href="#">Обувь</a> <a class="nav_link_menu" href="#">Аксесуары</a> </nav>
            </div>

    </header>
    
    
    <div class="intro_product">
       <div class="foto_product">
            <img src="/static/img/orange_sweater.jpg" width="400">
       </div>
       <div class="details_product">
           
       </div>
       
       
        <div class="container">
            <div class="intro_inner">
                <h1 class="intro_title">Добро пожаловать в мир моды</h1> 
                <a class="intro_inner_btn" href="#"> Начать покупки </a>
            </div>
        </div>
    </div>
   
 <div class="footer">
        <p5>&copy; Все права защищены</p5>
    </div>
</body>

</html>



<h1>Черная сумка</h1>
    <h3>Описание товара:</h3>
    <a href="../static/img/black_bag.jpg" target="_blank"> <img src="../static/img/black_bag.jpg" class="bordered" width="400" alt="картинка с сумкой"></a>
    <p class="short_description"> Сумка </p>
    <h3>Характеристики товара</h3>
    <table class="characteristic">
        <ul>
            <tr>
                <td>
                    <li>Артикул: </li>
                </td>
                <td>002</td>
            </tr>
            <tr>
                <td>
                    <li>Размер: </li>
                </td>
                <td>one size</td>
            </tr>
            <tr>
                <td>
                    <li>Материал: </li>
                </td>
                <td>натуральная кожа</td>
            </tr>
        </ul>
    </table>
    <h3>Подробное описание товара</h3>
    <p class="detailed_description">Вместительная сумка с жесткими стенками и одной ручкой
        <br> Сумка выполнена из натуральной кожи.</p>
    <h3>Детали:</h3>
    <p> Сезон: мульти
        <br> Страна производства: Италия </p>
    <hr>
 