{% extends 'mainapp/base.html' %}


{% block header_menu %}
<div class="header_menu">
    <nav class="nav_menu"><a class="nav_link_menu " href="#">Верхняя одежда</a> <a class="nav_link_menu"
                                                                                   href="#">Обувь</a> <a
            class="nav_link_menu" href="#">Аксесуары</a></nav>
</div>
{% endblock %}


{% block intro %}
<div class="intro_product">
    <div class="product_foto"><img src="/static/img/orange_sweater.jpg" alt="" width="300px"></div>
    <div class="product_desscription">
        <h1>Оранжевая водолазка</h1>
        <p class="detailed_description">Водолазка выполнена из высококачественного трикотажа.
            <br> Оранжевый цвет создаёт яркий современный стиль </p>
        <h3>Детали:</h3>
        <p> Сезон: мульти
            <br> Страна производства: Китай </p> <a href="#" class="red-button">
        заказать
    </a></div>
</div>
{% endblock %}





